* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif;
}
body {
    background-color: #081b29;
    color: #fff;
}
#header {
    height: 100vh;
    width: 100%;
    background-image: url(images/background2.png);
    background-size: cover;
    background-position: center;
}
.container {
    padding: 30px  10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: transform 0.5s;
}
.logo span {
    color: #00abf0;
    
}
.logo:hover {
    color: #00abf0;
    transform: translateY(-5px);
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}
nav ul li a i{
    text-decoration: none;
    color: #b0c4de;
    font-size: 30px;
    transition: transform 0.5s;
}
nav ul li a i:hover {
    color: #00abf0;
    transform: translateY(-5px)
}
.btn {
    display: block;
    width: fit-content;
    border: 1px solid #b0c4de;
    padding:8px 12px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}
.btn:hover {
    border-color: #00abf0;
    background: #00abf0;
    color: #081b29;
}
.header-text {
    width: 70%;
    margin-top: 15%;
}
.header-text h1 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 10px;
}
.header-text h3{
    margin-top: 20px;
    font-size: 28px;
    font-weight: 700;
     color: #00abf0;
}
.header-text p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
    color: #b0c4de;
}

/* ------about------- */
#about {
    padding: 80px 0;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 30%;
}
.about-col-1 img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}
.about-col-1 img:hover {
    transform: scale(1.01);
}
.about-col-2 {
    flex-basis: 65%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.about-col-2 p{
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
    color: #b0c4de;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
    background-color: #00abf0;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #00abf0;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
/* ------services------- */
#services {
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #1a2b3c;
    padding: 40px;
    font-size: 14px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}
.services-list div:hover {
    transform: scale(1.03);
    background-color: #1c3d4e;
}    
.services-list div i{
    font-size: 40px;
    color: #00abf0;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.services-list div p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #b0c4de; 
}
.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

/* -----portfolio----- */
#portfolio {
    padding: 50px 0;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
}
.work {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}
.work img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.2s ease-in-out;
    
}
.work img:hover {
    transform: scale(1.05);
}

/* ------contact------ */
.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #b0c4de;
    margin-right: 15px;
    font-size: 14px;
}
.socail-icons {
    margin-top: 30px;
}
.socail-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #b0c4de;
    display: inline;
    transition: transform 0.5s;
}
.socail-icons a:hover {
    color: #00abf0;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    background-color:#1a2b3c;
    padding: 15px;
    margin: 15px 0;
    color: #b0c4de;
    font-size: 16px;
    border-radius: 6px;
}
.submit-btn {
    display: block;
    width: fit-content;
    border: 1px solid #b0c4de;
    background-color: #081b29;
    padding:10px 30px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}
.submit-btn:hover {
    background: #00abf0;
    color: #081b29;
}
.copyright {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    background-color: #1a2b3c;
}
.copyright p{
    padding: 25px 0;
    font-size: 18px;
    font-weight: 500;
}
.copyright p i{
    margin-right: 5px;
}

/* ---------Responsive---------- */
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/background4.png);
    }
    .header-text {
        margin-top: 90%;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .header-text h3 {
        font-size: 20px;
    }
    .header-text p {
        font-size: 18px;
    }
    .logo {
        font-size: 24px;
    }
    nav ul li {
        display: none;
    }
    .btn{
        width: 80px;
        height: 25px;
        font-size: 10px;
        padding: 5px 10px;
    }
    .about-col-1 img {
        display: none;
    }
    #about {
        margin-top: 100px;
    }
    .sub-title {
        font-size: 30px;
    }
}